body {
    font-size: 16px;
    background-color: white;
}

#header {
    border: solid black 3px;
    border-radius: 0;
    background-color: grey;
}

#brandname {
    margin: 10px 15px 10px 0;
    color: black;
    font-size: 2em;
}

/* Overwriting the default bootstrap style of button */
.navbar-default .navbar-toggle {
    margin: 10px;
    padding: 10px;
    border-color: black;
    background-color: grey;
    height: 50px;
    width: 50px;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    border-color: #ddd;
    background-color: grey;
}

.navbar-default .navbar-toggle .icon-bar {
    width: 28px;
    height: 3px;
    background-color: black;
    border: black;
}

.navbar-default .navbar-toggle:focus .icon-bar,
.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #ddd;
}

/* Remove bootstrap's 1px transparent border on the dropdown menu */
#navbar-collapse {
    border-top: 0;
}

#nav-list {
    background-color: white;
    margin-top: 0;
    margin-bottom: 0;
    border-top: solid black 3px;
}

/* Dropdown menu text and horizontal lines between items */
#nav-list a {
    color: black;
    border-bottom: solid black 2px;
}

#nav-list li:nth-last-child(1) a {
    border-bottom: 0;
}

#main-content {
    width: 80%;
    color: black;
}

#main-content section {
    background-color: grey;
    padding: 20px;
}

#main-content h2 {
    margin: 15px 15px 30px;
}

#main-content h3 {
    margin: 15px;
}

#main-content p + h3 {
    margin-top: 30px;
}

/* Tablets and larger: */
@media (min-width: 768px) {
    #main-content {
        width: 95%;
    }
}